<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>Todo MVC</h2>
    <div ng-controller="TodoListController as todoList">
      <button ng-click="todoList.toggleAllDone()">Mark All Done</button>
      <input type="text" ng-model="todoList.todoText" size="30" placeholder="What needs to be done?">
      <button ng-click="todoList.addTodo()" class="btn-primary">Add</button>
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <span>{{todoList.remaining()}} left</span>
      <!-- [  <a href="" >All</a> 
      <a href="" >Active</a> 
      <a href="" >Complete</a>  ] -->
      [  <a href="" ng-click="todoList.archive()">Clear Completed</a>  ]
    </div>
  </body>
</html>